<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jardivalla.cameragap" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>CameraGap</name>
    <description>
        Una aplicación simple de PhoneGap que usa la cámara y aplica filtros a la imagen resultante
    </description>
    <author email="webmaster@hjardivalla.com" href="http://jardivalla.com">
        Jardivalla
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-ios-camera-permissions" spec="https://github.com/Cordobo/cordova-plugin-ios-camera-permissions.git">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Allow Camera" />
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value="Allow Microphone" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Allow Photo Library" />
    </plugin>
    <plugin name="cordova-plugin-camera" spec="~2.4.1" />
    <plugin name="cordova-photo-library" spec="https://github.com/CoSchedule/cordova-photo-library.git" />
</widget>
